<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sasquatch Websighting</h1>
    <h2>{{user.first_name}}{{user.last_name}}</h2>
    <a href="/dashboard"><button>Dashboard</button></a>
    <a href="/logout"><button>Logout</button></a>
</body>
    <div>
        <div>
            <h2>{{post.username}}</h2>
            <p>Description:{{post.description}}</p>
            <p>Location: {{post.location}}</p>
            <p>Sighting occured on: {{post.date_of.strftime('%Y-%m-%d')}}</p>
    </div>
</div>
</form>
</html>