<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Arbortrary</h1>
    <h3>A site to track randomly planted trees</h3>
    <h2>Welcome {{user.first_name}}</h2>
    <a href="/new/post"><button>Plant a Tree</button></a>
    <a href="/logout"><button>Logout</button></a>
</body>
    <div>
        <div>
            <h2>{{post.species}} planted by {{post.user_id}}</h2>
            <p>Location: {{post.location}}</p>
            <p>When: {{post.date_planted.strftime('%Y-%m-%d')}}</p>
            <p>Reason:{{post.reason}}</p>
    </div>
</div>
</form>
</html>