<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Arbortrary</h1>
    <h3>A site to track randomly planted trees</h3>
    <h2>Welcome {{user.first_name}}</h2>
    <a href="/dashboard"><button>Dashboard</button></a>
    <a href="/logout"><button>Logout</button></a>

    <form action="/create/post" method="post">
        <h2>Arbitrarily Plant a Tree</h2>
        {% with messages = get_flashed_messages(category_filter=['post']) %}
            {% if messages %}
            <divrole="alert">
                <strong>Flash</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div>
            <div>
                <div>
                    <label for="reason">Reason:</label>
                    <textarea name="reason"  cols="30" rows="5"></textarea>
                </div>
                <div>
                    <label for="location">Location:</label>
                    <input type="text" name="location">
                </div>
            </div>
            <div>

                <div>
                    <label for="date_planted">Date Planted:</label>
                    <input type="date" name="date_planted">
                </div>
                    <label for="species">Species:</label>
                    <input type="text" name="species">
                </div>
                <br>
                <input type="submit" value="Add Post">
                </div>
            </div>
        </div>
    </form>
</body>
</body>
</html>